 /* header{
    height: calc(100vw - 10px);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
} */
 
.header__container{
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    background: var(--color-white);
    transition: var(--transition);
    place-items: center;
    margin-top: 10rem;
 }

 .header__profile{
    width: 22rem;
    height: 25rem;
    border-radius: 10rem 10rem 3rem 3rem;
    overflow: hidden;
    margin-bottom: 15px;
    
} 
 
.header__container p {
    width: 45rem;
    text-align: center;
    margin: 5px 0 20px;
}

.header__cta{
    display: flex;
    gap: 1.2rem;
    align-items: center;
} 





